@import "tailwindcss";

body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  color: #1e293b;
}

button, input, select, textarea {
  font-family: inherit;
}